#background {
    position: fixed;  /* Stay in place */
    z-index: -1; /* Ensure div tag stays behind content */
    top: 0; /* Stay at the top */
    left: 0; /* Stay at the left */
    display: block; /* Display block to enable the image to be responsive */
    pointer-events: none;  /* Disable pointer events */
}
/* title will be full screen */
#title {
    position: absolute;
    z-index: -5;
    top: 0;
    width: 100%;
}
#titleScreen{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    flex-direction: column;
    margin-top: 25vh;
}
.title-screen{
    font-family: 'Press Start 2P', cursive;
    z-index: 10;
    font-size: 15vh;
    color: orange;
    text-shadow: black 1vw 1vh;
}

#playButton {
    background-color: orange;
    position: fixed;
    top: 670px;
    left: 1110px;
    z-index: 0; 
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0; 
}
#game {
    display: none;
}

#instructionScreen{
    display: none;
}

#tb{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

#stopButton {
    background-color: orange;
    position: fixed;
    top: 690px;
    left: 1110px;
    z-index: 0;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0; 
}
#linkedInButton {
    background-color: lightblue;
    position: fixed;
    top: 710px;
    left: 1110px;
    z-index: 1;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0; 
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

html,
body
{
    overflow: hidden;
    cursor: url('/src/media/sprite/cursor.png'),auto;
}
