#background {
    position: fixed;  /* Stay in place */
    z-index: -1; /* Ensure div tag stays behind content */
    top: 0; /* Stay at the top */
    left: 0; /* Stay at the left */
    display: block; /* Display block to enable the image to be responsive */
    pointer-events: none;  /* Disable pointer events */
}
#title {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -5; /* Ensure div tag stays behind content */
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

html,
body
{
    overflow: hidden;
    cursor: url('/src/media/sprite/cursor.png'),auto;
}
